body{
  overflow-x: hidden;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.name {
  text-align: center;
  float: 0; 
}
.left {
  float: left;
  margin-left: 28%;
  width: 10%;
  text-align: center;
  padding-top: 1.2%;
  padding-bottom: 30px;
}
.middle_left{
  float: left;

  width: 10%;
  text-align: center;
  padding-top: 1.2%;
  padding-bottom: 30px;
}
.middle_right{
  float: left;

  width: 10%;
  text-align: center;
  padding-top: 1.2%;
  padding-bottom: 30px;
}
.right{
  float: left;

  width: 10%;
  text-align: center;
  padding-top: 1.2%;
  padding-bottom: 30px;

}

.fixed {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #E0D2C1;
  font-weight: 900;
  height: 5.8vh;
  font-size: 1.25em;
  position: fixed;
  width: 100vw;
  z-index: 1;
  top: 0;

}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: black;
  padding-top: 3vh;

}
li a:hover, .activ {
  background-color: #60A699;
}
.little_name{
  text-align: center;
  font-weight: 900;
  font-size: 5em;
  padding-top: 10vh
}
.head_image{
  width: 33vw;
  height: 20vw;
  margin: auto;
}
.top_img {
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}
.introduction_box{
  width: 100vw;
  background-color: #E0D2C1;
}
.introduction{
  width: 45vw;
  font-size: 1.7em;
  margin: auto;
  background-color: #E0D2C1;
  padding: 2.5%;
  margin-top: 5%;
}
.introductionz{
  width: 65vw;
  font-size: 1.4em;
  margin: auto;
  background-color: #E0D2C1;
  padding-top: 2.5%;
  margin-top: 5%;
}
.introductions{
  width: 65vw;
  font-size: 1.4em;
  margin: auto;
  background-color: #E0D2C1;
  padding-bottom: 2.5%;
  padding-top: 1%;

}
.paragraph{
  transition: max-height 0.3s ease-out;
  width: 45vw;
  margin: auto;
  text-align: left;
  max-height: 0;
  overflow: hidden;
  background-color: #6C736C;
  color: white;
  font-size: 1.5em;
  font-weight: 400;
}
.collapse {
  cursor: pointer;
  background-color: #60A699; 
  text-align: left;
  width: 45vw;
  border: none;
  outline: none;
  height: 95px;
  display:block;
  margin: auto;
  font-weight: 700;
  margin-top: 5vh;
  color: white;
  line-height: 5em;
  border: 6px solid #60A699;

}
.collapse:hover, .active {
  background-color: white ;
  border: 6px solid #60A699;
  color: #60A699;
  line-height: 5em;
  text-align: left;
  margin-top: 5vh;
  height: 95px;
  width: 45vw;
  cursor: pointer;

  text-align: left;
  width: 45vw;

  outline: none;
  height: 95px;
  display:block;
  margin: auto;
  font-weight: 700;
  margin-top: 5vh;

  line-height: 5em;
}
.inside {
  padding-left: 2.5%;
  padding-right: 2.5%;
}
.readMore {
  color: #60A699;
  float: right;
}
.footer{

  left: 0;
  bottom: 0;
  width: 100vw;
  background-color: grey;
  color: white;
  text-align: center;
  text-decoration: none;
  height: 5.8vh;
  line-height: 25px;
}
.left_bot {
  float: left;
  width: 15vw;
}
.far_right{
  float: left;
  width: 15vw;

}
.collapse2 {
  background-color: #D96B43;
  color: white;
  border: none;
  outline: none;
  height: 3vh;
  font-weight: 900;
  display: block;
  margin: auto;
  margin-bottom: 2vh;
  cursor: pointer;

}
.bot_fixed {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-weight: 900;
  height: 5.8vh;
  font-size: 1.25em;
  width: 100vw;
  z-index: 1;
  bottom:0;
  top: 0;

}
strong {
  color: #60A699;
}
h2 {
  color: #D96B43;
}
.borderboxs {
  width: 100vw;
  margin: auto;
  background-color: #6C736C;
  margin-top: 7vh;
  height: 45vh;
  color: white;
}
.borderbox {
  width: 100vw;
  margin: auto;
  background-color: #6C736C;
  height: 45vh;
  color: white;
}
.profile {
  width: 100%;
  display: flex;

}
.imageforpro {
  margin: 0;
  width: 33%;
  height: 66%;
  padding-right: 5vw;
  padding-top: 4vh;
}
.imageforpropro {
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  background-position: center;
  height: 25vh;
  padding-left: 10vw;
  padding-top: 3vw;

}
.textforpro {
  text-align: left;
  height: 10vh;
  margin: auto;
  font-size: 1.4em;
  padding-left: 2vw;
  padding-right: 6vw;
  margin-top: 8vh;
}
.alt_border {
  background-color: #E0D2C1;
  color: black; 
}