body{
  overflow-x: hidden;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

#menu{
  background-color: #146973;
}
.name {
  text-align: center;
  float: 0; 
}
.left {
  float: left;
 
  margin-left: 28%;
  text-align: center;
}
.middle_left{
  float: left;

  width: 10%;
  text-align: center;
}
.middle_right{
  float: left;

  width: 10%;
  text-align: center;
}
.right{
  float: left;

  width: 10%;
  text-align: center;
}

}

 #cause, #experience, #resource{

  padding-bottom: 50px;
}

a{
   text-decoration: none;

}

a:visited{
  color: black;
}

#news{
 
  margin: 30px auto 30px auto;
  background-color: #E0D2C1;
  color: black;
  width: 84%;
  height: 500px; 
  overflow: scroll;
}
#news a{
  text-decoration: none;
  color: white;
}

#news h2{
  margin-left: 1%;
  color: black;
}

#news p{
  width: 90%;
  margin:auto;
  padding-bottom: 20px;
}

/*#cause, #experience, #resource{
  width: 25%;
  margin-top: 50px;
 
  height: 300px;
  background-color: #E0D2C1;
  color: black;

}*/

p{
  margin:10%;
}

#news img{
  width: 100%;
  margin:0;
  padding-top: 0;
}
.preview {
  width: 30vw;
  height: 45vh;

  position: relative;
  background-repeat: no-repeat;
  background-size: 100vw; 
  background-position: center;
  transition: 0.2s;
  margin-left: 2.3vw;
  
  display: grid;
  grid-template-columns: 27vw 1fr;
  grid-template-rows: 45vh 1fr;
  
}
.previewTitle {
  text-align: center;
  line-height: 45vh;
  color: white;
  font-size: 2.5vw;
  grid-area: 1 / 1 / 1 / 1;
  z-index: 3;
  transition: 0.2s;
  margin-top:0;
}
.previewImage {
  overflow: hidden;
  height: 45vh;
  width: 27vw;
  grid-area: 1 / 1 / 1 / 1;
  z-index: 2;
  transition: 0.2s;
  object-fit: cover;
  filter: blur(5px);
  filter: grayscale(50%);
  filter: sepia(60%);
  filter: brightness(0.8);

}
.athing {
  grid-area: 1 / 1 / 1 / 1;
  position: relative;
}


.flexy {
  display: flex;
  margin-top: 40vh;
}
.previewContent {
  text-align: center;
  opacity: 0;
  font-size: 1vw;
  color: white;
  grid-area: 1 / 1 / 1 / 1;
  z-index: 3;
  transition: 0.2s;
  margin: auto;
  padding: 15vh 7vw;

}
.preview:hover .previewImage {
  filter: blur(8px);
  filter: grayscale(50%);
  filter: sepia(60%);
  filter: brightness(0.4);
}
.preview:hover .previewContent {
  opacity: 1;
}
.preview:hover .previewTitle {
  opacity: 0;
}




